<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>Bonjour <%= user.name.givenName %>,<br/>
<br/>
C'est peut être le moment de faire ces courses chez <a href="<%= origin %>">karibou.ch</a>?
<br/>
<%if (products.length) {%>
<ul>
	<li>Les commerçants vous proposent,</li>
<% for(var i=0; i<products.length; i++) {%>
   <li><a href="<%= origin %>/products/<%= products[i].sku %>"><%= products[i].title %></a></li>
<% } %>
</ul>
<% } %>
<br/>

Avec nos meilleurs messages,<br/>
James de l'équipe Karibou
<br/>
----<br/>
modifier votre alarme <%= origin %>/account/reminder<br/>
