doctype html
html(itemscope itemtype="http://schema.org/Product")
  head
    // http://schema.org/Product
    if product.details.local
      title: ='Terroir - '+product.title+' ('+product.pricing.part+')'
    else
      title: =product.title+' ('+product.pricing.part+')'
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='robots', content='index,follow')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='revised', content='#{product.updated}')
    meta(itemprop='sku' content='#{product.sku}')


    // Place this data between the <head> tags of your website 
    meta( name="description", content="#{product.details.description}")

    // Schema.org markup for Google+ 
    meta( itemprop="name", content="#{product.title}")
    meta( itemprop="description", content="#{product.details.description}")
    meta( itemprop="image", content="#{prependUrlImage(product.photo.url)}")

    // Twitter Card data 
    meta( name="twitter:card", content="product")
    //meta( name="twitter:site", content="@publisher_handle")
    meta( name="twitter:title", content="#{product.title}")
    meta( name="twitter:description", content="#{product.details.description}")
    //meta( name="twitter:creator", content="@author_handle")
    meta( name="twitter:image", content="#{prependUrlImage(product.photo.url)}")
    meta( name="twitter:data1", content="#{product.getPrice().toFixed(2)}")
    meta( name="twitter:label1", content="Price")

    // Open Graph data
    meta( property="fb:app_id", content="#{config.auth.fb.appId}" )    
    meta( property="og:title", content="#{product.title}" )
    meta( property="og:type", content="article" )
    meta( property="og:url", content="https://karibou.ch/products/#{product.sku}" )
    meta( property="og:image", content="#{prependUrlImage(product.photo.url)}-/resize/600x/" )
    meta( property="og:image:width", content="600")
    
    // facebook format is  1,91:1, you need to fix height to 314px
    // meta( property="og:image:height", content="450")
    // https://developers.facebook.com/docs/sharing/best-practices#precaching
    meta( property="og:description", content="#{product.details.description}" )
    meta( property="og:site_name", content="https://karibou.ch" )
    meta( property="og:price:amount", content="#{product.getPrice().toFixed(2)}" )
    meta( property="og:price:currency", content="CHF" )

    // Full example with review and price
    // https://schema.org/price
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href="/css/style.css", rel="stylesheet")
  body
    div(class="container")
      div(class="header clearfix")
        nav(class="navbar navbar-default")
          ul(class="nav navbar-nav ")
            - each menu in config.shared.menu
              li(role="presentation" class="")
                if menu.active && (['karibou','howto','links'].indexOf(menu.group)!==-1)
                  a( href="#{menu.url}"): | !{getLocal(menu.name)} 
            li(role="presentation" class=""): a( href="/shops") Les boutiques



      div(class="jumbotron")
        h2 Des produits frais, bio, votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!

      h1(itemprop="name"): =product.title
      div(itemprop="description"): =product.details.description
      div: =product.details.origin
      div
        if product.details.homemade
          li( class="label label-success") Artisanal
        if product.details.local
          li(  class="label label-success") Terroir et Local
        if product.details.gluten
          li(  class="label label-success") Sans gluten
        if (product.details.bio||product.details.biodynamics||product.details.bioconvertion)
          li(  class="label label-success") BIO
        if product.details.grta
          li(  class="label label-success") GRTA
        if product.details.natural
          li(  class="label label-success" title="Naturel") 100% naturel

      div(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
        span prix, 
        span(itemprop="price"): =product.getPrice().toFixed(2)
        <meta itemprop="priceCurrency" content="CHF" />
        span CHF
        img(src='#{prependUrlImage(product.photo.url)}-/resize/600x/', class="img-responsive")

        h2:  =product.categories.name
        div: |Région de Genève
      h2 Boutique

      ul(class="list-group hide")
      - each place in product.vendor.marketplace
        li(class="list-group-item"): =place

      h2 Livraison à domicile à vélo ou en voiture les
      - each day in product.vendor.available.weekdays
        li(  class="label label-success" title="#{weekdays[day]}")  #{weekdays[day]}


      h2(itemscope,itemtype="https://schema.org/Organization") Contact
        a(itemprop="url", href="/shop/#{product.vendor.urlpath}"): =product.vendor.name

      div(itemscope itemtype="https://schema.org/LocalBusiness")
        h3(itemprop="name"): =product.vendor.name
        p(itemprop="description"): =product.vendor.description
        p(itemprop="telephone"): =product.vendor.address.phone        
        ul(class="list-group",itemscope, itemtype="http://schema.org/PostalAddress")
            li(class="list-group-item", itemprop="name"): =product.vendor.address.name
            li(class="list-group-item", itemprop="streetAddress"): =product.vendor.address.streetAdress
            li(class="list-group-item", itemprop="addressRegion"): =product.vendor.address.region
            li(class="list-group-item", itemprop="postalCode"): =product.vendor.address.postalCode
        span(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
          meta(itemprop="latitude", content="#{product.vendor.address.geo.lat}")
          meta(itemprop="longitude", content="#{product.vendor.address.geo.lng}")

