doctype html
html
  head
    title: =shop.name
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='robots', content='index,follow')

    // Place this data between the <head> tags of your website 
    meta( name="description", content="#{shop.description}")


    // Twitter Card data 
    meta( name="twitter:card", content="article")
    //meta( name="twitter:site", content="@publisher_handle")
    meta( name="twitter:title", content="#{shop.name}")
    meta( name="twitter:description", content="#{shop.description}")
    //meta( name="twitter:creator", content="@author_handle")
    meta( name="twitter:image", content="#{prependUrlImage(shop.photo.fg)}")


    // Open Graph data
    meta( property="fb:app_id", content="#{config.auth.fb.appId}" )    
    meta( property="og:title", content="#{shop.name}" )
    meta( property="og:url", content="https://karibou.ch/shop/#{shop.urlpath}" )
    meta( property="og:image", content="#{prependUrlImage(shop.photo.fg)}" )
    meta( property="og:description", content="#{shop.description}" )
    meta( property="og:site_name", content="https://karibou.ch" )
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href="/css/style.css", rel="stylesheet")

  body(itemscope,itemtype="https://schema.org/Organization")
    link(itemprop="url", href="https://karibou.ch/shop/#{shop.urlpath}",class="hide")
    div(class="container")
      div(class="header clearfix")
        nav(class="navbar navbar-default")
          ul(class="nav navbar-nav ")
            - each menu in config.shared.menu
              li(role="presentation" class="")
                if menu.active && (['karibou','howto','links'].indexOf(menu.group)!==-1)
                  a( href="#{menu.url}"): | !{getLocal(menu.name)} 
            li(role="presentation" class=""): a( href="/shops") Les boutiques

        h3( class="text-muted"): |Karibou Marketplace


      div(class="jumbotron")
        h2 Des produits frais, bio, votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!

      h1: =shop.name
      div: =shop.description
      div 
        img(src='#{prependUrlImage(shop.photo.fg)}', class="img-responsive")
        hr
        img(itemprop="logo", src="#{prependUrlImage(shop.photo.logo||shop.photo.owner)}")
      h1 Boutique
      div
        div: =shop.address.name 

      h2 En vente sur le marché
      ul(class="list-group hide")
      - each place in shop.marketplace
          li(class="list-group-item"): =place


      h2 Contact
      div(itemscope itemtype="https://schema.org/LocalBusiness")
        h3(itemprop="name"): =shop.name
        p(itemprop="description"): =shop.description
        p(itemprop="telephone"): =shop.address.phone        
        img(itemprop="image",src="#{prependUrlImage(shop.photo.fg)}",class="hide")
        ul(class="list-group",itemscope, itemtype="http://schema.org/PostalAddress")
            li(class="list-group-item", itemprop="name"): =shop.address.name
            li(class="list-group-item", itemprop="streetAddress"): =shop.address.streetAdress
            li(class="list-group-item", itemprop="addressRegion"): =shop.address.region
            li(class="list-group-item", itemprop="postalCode"): =shop.address.postalCode
        span(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
          meta(itemprop="latitude", content="#{shop.address.geo.lat}")
          meta(itemprop="longitude", content="#{shop.address.geo.lng}")



//- span(itemscope,itemtype="https://schema.org/Organization")
//-   link(itemprop="url", href="https://karibou.ch/shop/#{shop.urlpath}")
//-   meta(itemprop="logo", href="#{prependUrlImage(shop.photo.logo||shop.photo.owner)}")
//-   span(itemscope itemtype="https://schema.org/LocalBusiness")
//-     span(itemprop="name"): =shop.name
//-     span(itemscope itemtype="https://schema.org/PostalAddress")
//-       meta(itemprop="streetAddress", content="#{shop.address.streetAdress}")
//-       meta(itemprop="postalCode", content="#{shop.address.postalCode}")
//-       meta(itemprop="addressRegion", content="#{shop.address.region}")
//-       meta(itemprop="addressCountry", content="#{shop.address.region}")
//-     span(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
//-       meta(itemprop="latitude", content="#{shop.address.geo.lat}")
//-       meta(itemprop="longitude", content="#{shop.address.geo.lng}")
    
//-     span(itemprop="description"): =shop.description
//-     span(itemprop="telephone"): =shop.address.phone

