doctype html
html(itemscope, itemtype="http://schema.org/LocalBusiness")
  head
    // http://schema.org/LocalBusiness
    title: =shop.name
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='robots', content='index,follow')

    // Place this data between the <head> tags of your website 
    meta( name="description", content="#{shop.description}")

    // Schema.org markup for Google+ 
    meta( itemprop="name", content="#{shop.name}")
    meta( itemprop="description", content="#{shop.description}")
    meta( itemprop="image", content="#{prependUrlImage(shop.photo.fg)}")
    meta( itemprop="url", content="https://karibou.ch/shop/#{shop.urlpath}" )

    // Twitter Card data 
    meta( name="twitter:card", content="article")
    //meta( name="twitter:site", content="@publisher_handle")
    meta( name="twitter:title", content="#{shop.name}")
    meta( name="twitter:description", content="#{shop.description}")
    //meta( name="twitter:creator", content="@author_handle")
    meta( name="twitter:image", content="#{prependUrlImage(shop.photo.fg)}")

    // Open Graph data
    meta( property="og:title", content="#{shop.name}" )
    meta( property="og:url", content="https://karibou.ch/shop/#{shop.urlpath}" )
    meta( property="og:image", content="#{prependUrlImage(shop.photo.fg)}" )
    meta( property="og:description", content="#{shop.description}" )
    meta( property="og:site_name", content="https://karibou.ch" )
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href="/css/style.css", rel="stylesheet")

  body
    div(class="container")
      div(class="header clearfix")
        nav(class="navbar navbar-default")
          ul(class="nav navbar-nav ")
            - each menu in config.shared.menu
              li(role="presentation" class="")
                if menu.active
                  a( href="#{menu.url}"): | !{getLocal(menu.name)} 
            li(role="presentation" class=""): a( href="/shops") Les boutiques

        h3( class="text-muted"): |Karibou Marketplace


      div(class="jumbotron")
        h2 Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!

      h1: =shop.name
      div: =shop.description
      div 
        img(src='#{prependUrlImage(shop.photo.fg)}', class="img-responsive")
      h1 Boutique
      div(itemprop='owns')
        div(itemprop="name"): =shop.address.name 
        div(itemprop="url")<a href="/shop/#{shop.urlpath}">#{shop.name}</a>

      h2 En vente sur le marché
      ul(class="list-group")
      - each place in shop.marketplace
          li(class="list-group-item"): =place


      h2 Contact
      ul(class="list-group", itemscope, itemtype="http://schema.org/Organization")
          li(class="list-group-item",itemprop="telephone"): =shop.address.phone
      ul(class="list-group",itemscope, itemtype="http://schema.org/PostalAddress")
          li(class="list-group-item", itemprop="name"): =shop.address.name
          li(class="list-group-item", itemprop="streetAddress"): =shop.address.streetAdress
          li(class="list-group-item", itemprop="addressRegion"): =shop.address.region
          li(class="list-group-item", itemprop="postalCode"): =shop.address.postalCode
