<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>Bonjour <%= user.name.givenName %>,<br/>
<br/>
Vous avez commandé une carte cadeau karibou pour un montant de <%= (wallet.balance/100).toFixed(2) %> fr.
Voici le code de la carte :<b> <%= wallet.card.number %> </b> cette carte est valable pendant 2 ans.

<br/>
Comment ça marche? Envoyé à la personne de votre choix la marche à suivre suivante:
<ol>
<li>Créer un compte chez <a href="<%= origin %>">karibou.ch</a>, c'est essentiel pour utiliser votre carte cadeau ;)</li>
<li>Pour utliser votre carte, il suffit de <a href="<%= origin %>/account/payment?gift=<%= wallet.card.number %>">suivre ce lien</a>.</li>
<li>Valider l'opération en cliquant sur le boutton «Enregister votre carte cadeau»</li>
<li>Finalement, enregistrez votre carte avec le numéro suivant <b> <%= wallet.card.number %> </b>. (ce code est valable jusqu'au <%= wallet.card.expiry %>)</li>
</ol>

Vous pouvez aussi enregister votre carte cadeau dans votre compte personnel sous la rubrique «méthodes de paiement» en utilisant le numéro suivant <b> <%= wallet.card.number %> </b>.

Voilà c'est fait, maintenant vous pouvez faire vos courses pour un montant de <%= (wallet.balance/100).toFixed(2) %> fr avec cette première sélection de commerçants de l'alimentation à Genève. 


Avec nos meilleurs messages,<br/>
<pre style="font-size:10px">
 | |/ /         (_) |                
 | ' / __ _ _ __ _| |__   ___  _   _ 
 |  < / _` | '__| | '_ \ / _ \| | | |
 | . \ (_| | |  | | |_) | (_) | |_| |
 |_|\_\__,_|_|  |_|_.__/ \___/ \__,_|
</pre>
<br/>
----<br/>
consulter le solde de votre compte commercial <%= origin %>/account/wallet<br/>
