<div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
                <tbody><tr>
                    <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        
						
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
                                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse:collapse">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            <span style="line-height:20.8px"><%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %> Envoyez cette carte cadeau avec la marche à suivre&nbsp;à la personne de votre choix.</span>
                        </td>
                    </tr>
                </tbody></table>
                
                <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" style="border-collapse:collapse">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            <div style="text-align:right;color:#da1c5c">♥</div>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <img align="center" alt="" src="<%= origin %>/img/payments/giftcode-<%= (wallet.balance/100) %>.png" width="358" style="max-width:358px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">Vous avez reçu une carte cadeau.</h1>

<p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><%= user.name.givenName %> vous a envoyé une carte cadeau <a href="http://karibou.ch" target="_blank">karibou.ch</a> pour un montant de <strong><%= (wallet.balance/100).toFixed(2) %>  fr</strong>. Voici le code de la carte, <strong> <%= wallet.card.number %></strong>. Cette carte est valable pendant 2 ans.</p>

<p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Comment ça marche?&nbsp;</p>

<ol style="padding-left:20px">
	<li><a href="<%= origin %>" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">Créez un compte chez karibou.ch</a>, c'est essentiel pour utiliser votre carte cadeau ;)</li>
	<li><a href="<%= origin %>/account/payment?gift=<%= wallet.card.number %>" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">Validez&nbsp;votre carte en suivant&nbsp;ce lien</a>.</li>
	<li>Terminez&nbsp;l'opération en cliquant sur le boutton <strong>«Enregister votre carte cadeau»</strong></li>
</ol>

<p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Voilà c'est fait, maintenant vous pouvez faire vos courses.&nbsp;<span style="line-height:1.6em"><%= user.name.givenName %> vous souhaite une excellente dégustation&nbsp;</span><span style="color:#da1c5c;font-size:15px;line-height:20.8px">♥</span><br>
&nbsp;</p>
&nbsp;

<p style="text-align:center;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="color:#da1c5c;font-size:15px;line-height:20.8px"><a href="https://karibou.ch" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank"><img align="none" height="46" src="https://ci6.googleusercontent.com/proxy/p9dg6NB_v23UCnEW3cRvTV0SIWgbfDFIUVvsGhKYF_Ev2JudKgUU7C2iMBNTAi126eEBAtPsSb5PljvFyA65nDyYHLQJV1O6CNp_31hI7uE9vm4cBO9bPZgECYmEpkbfLlMUj0Bdz0GT37dlLJKfGaiguB1DyeV79v_Rcxk=s0-d-e1-ft#https://gallery.mailchimp.com/20dc92b05c9b06b4622797554/images/021a5eed-97e0-48c5-826b-eab58888953d.png" style="width:150px;min-height:46px;margin:0px;border:0;outline:none;text-decoration:none" width="150" class="CToWUd"></a></span></p>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <em>Copyright © 2015 <a href="http://karibou.ch" target="_blank">karibou.ch</a>, tous droits réservés.</em><br>
<br>
<strong>Notes concernant la carte cadeau:</strong><br>
<span style="line-height:20.8px">Vous pouvez aussi enregistrer votre carte cadeau depuis votre compte personnel sous la rubrique «méthodes de paiement», vous choisissez «utiliser une carte cadeau» .&nbsp;</span><br>
&nbsp;
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                        </tbody></table>
						
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>

    <!--
TEST_    :
<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>
NAME_    : <%= user.name.givenName %>
ttp://_URL_     : <%= origin %>
ttp://_URLGIFT_ : <%= origin %>/account/payment?gift=<%= wallet.card.number %>
CODE_    : <%= wallet.card.number %>.
BALANCE_ : <%= (wallet.balance/100).toFixed(2) %> 

replace http://<%= origin %>
replace https://gallery.mailchimp.com
        <%= origin %>/img/payments/giftcode-<%= (wallet.balance/100) %>.png
-->